.aichat-container{
    background : #1f2937;
    border-radius : 16px;
    padding : 10px;
    margin-top : 30px;
    display : flex;
    flex-direction : column;
    height : 600px;
    box-shadow : 0 10px 30px rgba(0,0,0,0.25);
}

.chat-header{
    border-bottom : 1px solid #374151;
    padding-bottom : 15px;
    margin-bottom : 20px;
}

.chat-header h2{
    color : white;
    font-size : 26px;
    margin-bottom : 6px;
}

.chat-header p{
    color : #22c55e;
    font-size : 15px;
    font-weight : 300;
}

.chat-body{
    flex : 1;
    flex-direction : column;
    padding-right : 10px;
    gap : 15px;
    overflow-y : auto;
    display : flex;
}

.message{
    max-width : 80%;
    padding : 15px;
    border-radius : 12px;
    line-height : 1.6;
    animation : fadeIn 0.3s ease;
}

.message.ai{
    align-self : flex-start;
    background : #374151;
    color : white;
}

.message.user{
    align-self : flex-end;
    background : #2563eb;
    color : white;
}

.chat-footer{
    margin-top : 20px;
    display : flex;
    gap : 15px;
}

.chat-footer input{
    flex : 1;
    padding : 10px;
    border : none;
    outline : none;
    border-radius : 10px;
    background : #111827;
    color : white;
    font-size : 15px;
}

.chat-footer button{
    padding : 14px 22px;
    background : #2563eb;
    color : white;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    font-size : 15px;
    font-weight : 300;
    transition : 0.3s;
}

.chat-footer button:hover{
    background : #1d4ed8;
}
@keyframes fadeIn{
    from{
        opacity : 0;
        transform : translateY(12px);
    }
    to{
        opacity : 1;
        transform : translateY(0);
    }
}
@media(max-width:768px){
    .aichat-container{
        height : 500px;
        padding : 18px;
    }
    .chat-footer{
        flex-direction : column;
    }
    .chat-footer button{
        width : 100%;
    }
    .message{
        max-width : 100%;
    }
}