.alert-cointainer{
    background : white;
    padding : 20px;
    border-radius : 10px;
    box-shadow : 0 5px 15px rgba(0,0,0,.08);
}
.alert-title{
    margin-bottom : 10px;
    color : #111827;
}

.alert-card{
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 10px;
    margin-bottom : 10px;
    border-radius : 10px;
    transition : .3s;
}

.alert-card:hover{
    transform : translateX(5px);
}

.alert-card h4{
    margin-bottom : 5px;
    color : #1f2937;
}

.alert-card span{
    color : #6b7280;
    font-size : 14px;
}

.severity{
    padding : 6px 12px;
    border-radius : 20px;
    font-size : 14px;
    font-weight : 600;
}

.critical{
    border-left: 5px solid #dc2626;
}

.critical .severity{
    background :#fee2e2;
    color : #dc2626;
}

.warning{
    border-left : 5px solid #f59e0b;
}

.warning .severity{
    background : #fef3c7;
    color : #b45309;
}

.resolved{
    border-left : 5px solid #16a34a;
}

.resolved .severity{
    background : #dcfce7;
    color : #15803d;
}